:root{
    --blue: #339FCD;
    --grey: #17252A;
    --dark-blue: #2B7A76;
  }


.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 5rem; /* height of your footer */
}

.navbar-orbis {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  z-index: 1;
}

.navbar-orbis .navbar-collapse {
  flex-grow: 0;
}

.logo-navbar {
  height: 3rem;
}

a.nav-link {
  color: var(--blue) !important;
  font-weight: lighter;
  letter-spacing: 0.15rem;
}

.nav-link:hover {
  font-weight: bold;
}

.banner {
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  background-image: url('./images/banner.png');
}

.banner h1 {
  color: white;
  font-size: 32px;
  font-weight: bolder;
  letter-spacing: 4px;
}

.banner p {
  font-size: 24px;
  color: white;
  font-weight: lighter;
}

.banner i {
  font-size: 32px;
  color: white;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  padding: 0px 5px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.bg-blue {
  background-color: var(--blue);
}



.text-white {
  color: white;
}

.text-grey {
  color: var(--grey);
}
.text-blue {
  color: var(--blue);
}

.card-orbis {
  margin: 0rem 2rem;
  margin-top: -2rem;
  overflow: hidden;
  background: white;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 2rem;
}

.card {
  border: none;
}

.card h2 {
  font-size: 2.5rem;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card p {
  font-size: 1rem;
  opacity: .7;
  margin: 0;
}

.dropdown-divider {
  margin: 1rem;
  width: 150px;
  border-top: 1px solid var(--blue);
}

.divider-white {
  border-top: 1px solid white;
}

.img-icon {
  height: 5rem;
  margin-top: 1rem;
}

.title-card h3 {
  margin-top: 0.5rem;
}

.img-logos {
  height: 4rem;
  margin: 1rem;
}

.img-logos-smaller {
  height: 3rem;
  margin: 1rem;
}

.img-logos-bigger {
  height: 5rem;
  margin: 1rem;
}

.stars i {
  color:#D4AF36;
}
