:root{
    --blue: #339FCD;
    --grey: #17252A;
    --dark-blue: #2B7A76;
  }

@import "lesshat";

.btn-blue {
  background-color: var(--blue);
  color: white;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 8rem; /* height of your footer */
}

.navbar-orbis {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  z-index: 1;
}

.navbar-orbis .navbar-collapse {
  flex-grow: 0;
}

.logo-navbar {
  height: 3rem;
}

a.nav-link {
  font-size: 1.25rem;
  color: var(--blue) !important;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

.nav-link:hover {
  font-weight: 600;
}

.banner {
  background-size: cover;
  background-position: center;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  background-image: url('./images/banner.png');
}

.banner h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: bolder;
  letter-spacing: 4px;
}

.banner p {
  font-size: 3rem;
  color: white;
  font-weight: lighter;
}

@media (max-width: 800px) {
  .banner h1 {
    color: white;
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: 4px;
  }
  .banner p {
    font-size: 32px;
    color: white;
    font-weight: lighter;
  }
}

.banner i {
  font-size: 32px;
  color: white;
  display: inline-block;
  border-radius: 60px;
  border: 3px solid white;
  padding: 0.5em 0.6em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0,0,0,0.3);
}

.footer-links a {
  color: black;
  opacity: 0.4;
  text-decoration: none;
  padding: 0px 5px;
}
.footer-links a:hover {
  opacity: 1;
}

.contact-links a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  padding: 0px 5px;
}

.contact-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.bg-blue {
  background-color: var(--blue);
}



.text-white {
  color: white;
}

.text-grey {
  color: var(--grey);
}
.text-blue {
  color: var(--blue);
}

.card-orbis {
  margin: 0rem 2rem;
  margin-top: -2rem;
  overflow: hidden;
  background: white;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  padding: 2rem;
}

.card {
  border: none;
}

.card h2 {
  font-size: 2.5rem;
  font-weight: bold;
  opacity: .7;
  margin: 0;
}

.card p {
  font-size: 1rem;
  opacity: .7;
  margin: 0;
}

.navbar-toggler {
  border: none;
}

.dropdown-divider {
  margin: 1rem;
  width: 150px;
  border-top: 1px solid var(--blue);
}

.divider-white {
  border-top: 1px solid white;
}

.img-icon {
  height: 5rem;
  margin-top: 1rem;
}

.title-card h3 {
  margin-top: 0.5rem;
}

.number {
  font-size: 3rem;
}

.img-logos {
  height: 4rem;
  margin: 1rem;
}

.img-logos-smaller {
  height: 3rem;
  margin: 1rem;
}

.img-logos-bigger {
  height: 5rem;
  margin: 1rem;
}

.stars i {
  color:#D4AF36;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.ba-slider {
    position: relative;
    overflow: hidden;
}

.ba-slider img {
    width: 100%;
    display:block;
}

.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute;
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;

  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}

.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;

    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;

    background: var(--blue); /* @orange */
    border:1px solid var(--blue); /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3),
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px var(--blue); /* lighten(@orange, 20%)*/
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}

